<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8">
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="/jquery/dist/jquery.min.js"></script>
   <title>Trip-Planner</title>
 </head>
 <body>
 <nav class="navbar navbar-default">
  <div clas="container">
    <div class="navbar-header">Trip-Planner</div>
  </div>
 </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-8" id="content">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet mollitia, consequuntur quidem eos perspiciatis molestiae autem, illo asperiores nostrum temporibus, sunt eius similique fugit, numquam magni. Hic, deserunt, dicta.</div>
        <div>Nam ratione aliquam nemo et porro nisi necessitatibus voluptatem distinctio fugiat quas soluta quibusdam iure quo eius, ducimus magnam illum ipsam cumque delectus ad voluptates eum pariatur reprehenderit aperiam. Adipisci.</div>
        <div>Et consequatur, pariatur voluptatibus! Dolor quos sed sunt, nihil autem repudiandae natus quam modi inventore molestiae numquam soluta debitis quod quibusdam assumenda nulla repellendus iusto fuga. Soluta dolorem, quisquam beatae.</div>
        <div>Quis eaque ab, laborum suscipit, nisi rem? Aspernatur ratione suscipit veniam numquam culpa laboriosam at sed nesciunt animi quidem molestias est expedita nemo consequatur, iste corporis, repellat consequuntur voluptate aut.</div>
        <div>Illum et expedita numquam molestias nam aspernatur, id eum consequatur. Cumque delectus doloremque earum amet, perspiciatis maxime eligendi fugiat laboriosam deserunt, rerum, sed optio impedit fugit harum incidunt architecto error.</div>
        <div>Dolore necessitatibus temporibus itaque labore, vel. Sequi earum in a accusantium et id consequuntur illo aut soluta, deleniti fuga, ducimus, sit porro commodi impedit! Aperiam aliquam vel quos omnis aut!</div>
        <div>Debitis, exercitationem ad nisi, cumque repellat saepe laborum voluptates repudiandae? Vitae nostrum, velit, rerum maxime quasi, sapiente, aliquid maiores quidem perferendis dolore beatae nihil alias eius fuga reiciendis impedit accusamus.</div>
        <div>Facere laudantium eaque unde aspernatur minima adipisci dolorem, animi similique dolore, possimus veniam, non exercitationem mollitia repellat placeat inventore laboriosam. Ipsum nihil aliquam ab officiis voluptatum doloremque adipisci fugit officia.</div>
        <div>Ipsa asperiores excepturi numquam aut voluptatem nobis ipsam tempora inventore ratione deserunt similique necessitatibus magni officiis distinctio vero sint at nam id possimus, rem, aperiam minima deleniti? Illum, alias, perferendis!</div>
        <div>Similique laudantium sapiente dolorem optio incidunt praesentium totam commodi soluta explicabo doloribus quos deleniti voluptates, nihil animi provident autem iure laboriosam dicta tenetur vel, perferendis nobis tempore dolorum labore itaque!</div>
        <div>Numquam sed odio repudiandae perferendis debitis consectetur, obcaecati accusantium! Unde tempore, provident quis non. Dicta magnam, in accusantium iure, quia, soluta maxime totam illo quis tenetur mollitia? Quo, tempore, pariatur?</div>
        <div>Asperiores delectus minus fugit est necessitatibus maxime vitae ab id aliquam fuga, dolore sed rerum corporis consequuntur, sit, neque natus possimus non nihil illum, adipisci ipsa. Temporibus a, voluptate in!</div>
        <div>Esse animi est ullam, accusamus alias voluptatem quis sapiente qui laudantium dolorem, nobis hic ratione, ab laboriosam dolore nemo perspiciatis quo quidem consequatur modi. Voluptas, blanditiis laudantium adipisci vero sed.</div>
        <div>Possimus, asperiores! Iusto ratione quibusdam culpa blanditiis dicta rem numquam labore ut eius autem, iure, dolor impedit aspernatur perferendis pariatur quidem neque, maiores inventore provident aliquam! Sint fuga facilis iste.</div>
        <div>Soluta natus dolorum ipsum vero rerum necessitatibus, esse aut vitae vel qui, optio, earum quia labore temporibus officiis fuga laborum expedita tenetur. Laborum ea ab alias repudiandae, impedit voluptatum quis.</div>
        <div>Nesciunt itaque cumque explicabo sapiente odit dolorem aut accusantium harum tempora minus facilis similique adipisci tenetur sint in ullam et, eum blanditiis? Culpa tempore assumenda explicabo debitis quidem reprehenderit? Eaque!</div>
        <div>Maxime eveniet recusandae debitis et rerum distinctio iure, commodi animi ut id laudantium voluptatum quaerat magnam magni inventore quam facere architecto sequi excepturi sapiente aut, iste provident, consequatur. Nihil, et.</div>
        <div>Soluta dignissimos ipsum dolores sequi modi facilis aliquid iure, in quia. Id error amet magnam, quis ipsum ab commodi necessitatibus perspiciatis dolorem, sequi modi quasi libero vero veritatis earum architecto.</div>
        <div>Eos asperiores sequi quod unde voluptatem dolores at officia pariatur eligendi. Fuga eligendi expedita deleniti quis at incidunt commodi, quos saepe deserunt ea corporis, accusamus rem veniam eos omnis rerum?</div>
        <div>Aspernatur modi quas eligendi impedit ex, ut cupiditate! In ad ipsam et eveniet blanditiis, distinctio enim earum. Sapiente consequuntur incidunt, deserunt accusamus id enim, veritatis, dicta explicabo, quis earum nihil.</div>
        <div>Cumque magnam, veniam inventore natus. Facilis perferendis, nemo, deserunt tenetur veritatis reiciendis laborum eius quibusdam expedita nobis porro necessitatibus adipisci repudiandae accusantium, cum vero odio amet delectus molestias maiores? Nobis.</div>
        <div>Voluptates pariatur cumque, autem ex aut modi quo molestiae ducimus. Debitis dolor, molestias quas, amet maiores illo a corporis dignissimos, omnis mollitia consectetur facere ex reprehenderit sequi inventore iste distinctio.</div>
        <div>Deserunt eveniet, minima. Nihil ab laboriosam sunt, earum ratione incidunt, vel obcaecati rerum nam veritatis iste quam, architecto porro, quaerat fugit. Soluta vero nam dicta sunt quae facere rerum, recusandae.</div>
        <div>Commodi autem earum, a dolor odio totam, mollitia non nam illum vitae odit corporis magnam quam, minus est inventore velit laboriosam. Animi, itaque, vel eaque quae illum recusandae similique velit!</div>
        <div>Laboriosam iure repellat nostrum. Illum incidunt voluptatem doloremque vero error tempore, minima provident quibusdam soluta fugit magni autem odit nemo ea. Repudiandae, amet numquam eius quod natus minima debitis quasi.</div>
        <div>Explicabo qui accusantium nesciunt sunt, molestias, voluptas nisi quasi. Libero quaerat, eos quibusdam. Reiciendis aliquam nemo incidunt blanditiis rerum in distinctio tenetur eius sit odio facere, cupiditate minima, iusto. Veritatis.</div>
        <div>Quis beatae, obcaecati veritatis modi possimus! Provident pariatur perspiciatis fuga assumenda similique numquam eligendi, voluptatum id, accusamus laudantium neque nisi molestias maiores quis voluptatibus laboriosam nam. Sit dicta saepe, perspiciatis.</div>
        <div>Aliquid inventore rem sapiente, fugit saepe fugiat fuga tempora officiis nisi reprehenderit! Impedit velit rerum corrupti sint laborum cupiditate! Itaque, hic eos voluptatibus earum. Eius minus illo, animi voluptatibus eveniet.</div>
        <div>Nobis tenetur aliquam iste rem neque reiciendis id optio quas, vitae suscipit aliquid cupiditate hic dicta cumque officia quae iusto sunt enim eligendi qui fugit amet, et. Beatae, saepe, iusto.</div>
        <div>Assumenda quis neque, alias fugit distinctio, velit nulla nemo minus ratione, provident harum. Autem nobis ullam placeat pariatur iusto aut aspernatur asperiores sed voluptatem dolores ipsa earum fugit, cupiditate doloremque!</div>
      </div>
      <div class="col-lg-4">
        <div class="row" id="select">
          {% block content %}{% endblock %}
        </div>
        <div class="row" id="planner">
          <h2>Day 2</h2>
          <nav class="navbar navbar-default"></nav>
          <div>CONTENT</div>
        </div>
      </div>
    </div>

  </div>




 </body>
 <footer>
 </footer>
</html>